body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
canvas {
    background: #fff;
    display: block;
    border: 2px solid #444;
    box-shadow: 0 0 20px #000a;
}